Requirements
Libraries:

1. streamlit==1.35.0
2. pandas==2.2.2
3. numpy==1.26.4
4. matplotlib==3.9.0
5. seaborn==0.13.2
6. plotly==5.22.0
7. scikit-learn==1.5.0

Here's a brief explanation of the included libraries:

1. Streamlit: Streamlit is the primary framework used to develop the web application. It allows developers to create interactive web applications using simple Python scripts.

2. Pandas: Pandas is used for data manipulation and analysis. It is particularly useful for loading, exploring, and filtering tabular data.

3. NumPy: NumPy is used for numerical computing and array operations. It provides efficient data structures and functions for handling numerical data.

4. matplotlib: A plotting library for creating static, animated, and interactive visualizations.

5. seaborn: A Python visualization library based on matplotlib that provides a high-level interface for drawing attractive statistical graphics.

6. plotly: Used for creating interactive plots. It allows users to interact with the data by zooming, panning, and hovering over data points.

7. scikit-learn: Scikit-learn is used for machine learning tasks such as clustering, classification, and regression. While not explicitly used in this project, it can be integrated for more advanced analysis if needed.

Deploy the Streamlit app:

Make sure you have Streamlit installed in your local environment. Run the app locally to test:

streamlit run your_app.py
